html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
    background: #00c5ff;
    color: #5b25da;
    margin: 0;
}	
h1{
    font-family: Mom2;
    font-size: 30pt;
}
#sidebar{
    float: right;
    width: 20%; 
}
#sidebar img{
    width: 50%;
    display: block;
    float: left;
}
#sidebar img:hover{
    border: 4px solid blue;
}

#main{
    width: 80%;
    height: 100%;
    object-fit: contain;
}

